
body {
  background-color: rgba(168, 238, 238, 0.945);
}

h1 {
  color: rgb(255, 3, 221);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
